
nav .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #e9ecef;
  text-align: left;
  list-style: none;
  background-color: #343a40;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}

#lune {
  left: 450px;
  position: absolute;
  animation: tourneLune 9s linear infinite;
  transform: rotate(45deg) rotate(-45deg);
  z-index: 1;
}

@keyframes tourneLune {
  from { 	transform: rotate(0deg) translateX(450px); }
  to   {  transform: rotate(360deg) translateX(450px); }
}

#cadre {
  background-image: url("./img/fond.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  color: whitesmoke;
}